span.hit {
    color:#3399ff;
    font-weight:bold;
}

span.indicator {
    color:#33cc33;
    font-weight:bold;
}

span.date {
    color:#ff1a1a;
    font-weight:bold;
}

div#toc li {
  font-size:80%;
  color:#368ce2;
}

div#toc a {
  text-decoration:none;
  color:#368ce2;
}

div#toc {
  background-color:#cceeff;
  border-style:solid;
  border-color:#99ddff;
}

div#toc ul {
  list-style-type:square;
  padding-left: 25px;
}

div#toc ul ul {
  list-style-type:none;
  padding-left: 10px;
}

a.file_title {
  font-weight:bold;
  text-decoration:none;
  color:black;
}

a.file_title:hover {
  color:red
} 
